<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- importing Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- include our own css -->
    <title>Search results</title>
</head>
<body>
<div class = "container">
    <ul class = "list-group" id="tweets">

        {% set css_class = 'list-group-item-info' %} <!-- Default. For neutral sentiment -->


        {% for element in content %}
            {% if element['label'] == 'neg' %} <!-- ginger2 statements -->
                {% set css_class = 'list-group-item-danger' %} <!-- makes the tweet red. Bootstrap thing -->
            {% elif element['label'] == 'pos' %}
                {% set css_class = 'list-group-item-success' %}
            {% endif %}
                    <li class = "list-group-item {{ css_class }}">{{ element['tweet'] }}</li>
                    <!-- [tweet] because now the element is not merely the text but a dict containing the text and the sentiment -->
                    <!-- gave two classes to li -->
                    <!-- classes are here: http://getbootstrap.com/components/ -->
        {% endfor %}
    </ul>
</div>
</body>
</html>